main{
    background:  rgb(219, 219, 219)!important;
}
.logo {
    width: 120px;
    height: 120px;
}
header{
    background-color:rgb(219, 219, 219);;
}
.panel-heading {
    font-size: 250%;
    height: 110px;
}

.footer {
    margin-bottom: 0px;
    margin-top: 10px;
    background: rgb(219, 219, 219);
}

.footer_area {
    margin-top:20px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
}