body {background-color:black;}
.container-fluid {padding:50px;}
.container{background-color:rgb(223, 223, 124);padding:50px;   }
#title{font-family: Arial, Helvetica, sans-serif, cursive;;}
.form-check{
    margin: 10px;
}

.form {
    background-color: rgb(160, 54, 54);
    border-radius: 10px;
}

.enviar {
    background-color: rgb(0, 0, 0);
}